{% extends 'base.html.twig' %}

{% block title %}Hall Coachs{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1 class="center"><i>Hall Sport votre partenaire sportif :</i></h1><br>
        <div class="centerSmall">
            <br>
            <h1><strong>Franchissez une de nos 83 portes ....</strong></h1>
            <br>
            <p>58 Salles sous Franchise Hallcoachs</p>
            <p>25 Salles Hallcoachs en France</p>
            <p>2 Nouvelles Salles en Belgique ( Sa y est on sort des Frontiéres )</p>
            <br>
            <p>Aujourd'hui vous êtes 4 235 556 adhérents a participer a notre aventure <br>Merci !</p>
            </ul>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <br>
                <br>
                <h2><strong class="textHallEnd">Nos Salles de Sports :</strong></h2>
                <br>


                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non egestas neque. Curabitur ullamcorper consectetur mattis. Aenean ac neque sed tellus venenatis semper. Nam neque dui, porttitor et molestie vel, volutpat et sem. Nunc sagittis, tortor a facilisis porta, mi ligula facilisis risus, sed vestibulum mauris diam sed dui. Maecenas erat libero, ultricies nec massa at, sagittis finibus odio. Phasellus sit amet nulla ipsum. Sed sed tincidunt nisl. Maecenas malesuada, diam id tempor facilisis, odio felis ultrices diam, eu laoreet velit nisl eu nulla. Suspendisse potenti. Vivamus bibendum iaculis consequat.</p>
                <br>
                <div class="container justify-content-center">
                    <br>
                    <img src="{{ asset('asset/image/fitness-room.jpg') }}" style="height: 500px; width: 500px; margin: auto">
                    <br>
                </div>
            </div>
            <div class="col-6">
                <br>
                <br>
                <h2><strong> Salles de Sports :</strong></h2>
                <br>
                <p class="textHallEnd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non egestas neque. Curabitur ullamcorper consectetur mattis. Aenean ac neque sed tellus venenatis semper. Nam neque dui, porttitor et molestie vel, volutpat et sem. Nunc sagittis, tortor a facilisis porta, mi ligula facilisis risus, sed vestibulum mauris diam sed dui. Maecenas erat libero, ultricies nec massa at, sagittis finibus odio. Phasellus sit amet nulla ipsum. Sed sed tincidunt nisl. Maecenas malesuada, diam id tempor facilisis, odio felis ultrices diam, eu laoreet velit nisl eu nulla. Suspendisse potenti. Vivamus bibendum iaculis consequat.</p>
                <br>
                <div class="container justify-content-center">
                    <br>
                    <img src="{{ asset('asset/image/fitness-room-2.jpg') }}" style="height: 500px; width: 500px; margin: auto">
                    <br>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="center">
            <h2>Pourquoi devenir Franchisé Hallcoachs ?</h2><br>
            <br>
        </div>
        <p>Devenir franchisé est votre garantie sécurité pour votre salle de Sport :</p>
        <ul>
            <li>Retour sur investissement en 5 Ans</li>
            <li>Tous vos employés formés</li>
            <li>Tous votre matériel est fourni et garantie par votre siege directeur ...</li>
        </ul>
    </div>
    <br>
    <div class="center">
        <a href="/nousrejoindre"><button class=" btn btn-primary">Nous Rejoindre </button></a>
    </div>

{% endblock %}
