{% extends 'base.html.twig' %}

{% block title %}Hall Sport - Liste Partennaires{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="center">Liste des Partennnaires :</h1>
    <hr>
</div>
{% endblock %}
