{% extends 'base.html.twig' %}

{% block title %}Devenir Partenaire Hall Sport{% endblock %}

{% block content %}

    <br>
    <h1 class="warning">Attention cette page a uniquement pour but de Devenir Partenaire Hall Sport<br>
        Rejoindre le Groupe Hall Sport à assurer la gestion par nos logiciels.
    <br>
        <br>
    <h3 class="center">Devenir Partenaire Hall Sport :</h3>
    <br>
    <br>
    <br>
    <div class="container">
        {{ form (form) }}




    </div>
{% endblock %}
